/***
 @author nuarharuha <nhnoah@gmail.com>
 
 */

/* webfont type*/ 

.fnt-1{
    font-family: 'Six Caps', sans-serif;
}

.fnt-2{
    font-family: 'Jockey One', sans-serif;
}
/* webfont */

body{ 
    font-family:  Arial, Tahoma, verdana, sans-serif;
    background-color:#f7f7f7;    
}

/* navigation */


#nav {
    background-color: #000;
    height: 35px;
}

#nav ul{
    margin: 0pt;
    padding: 0;
    list-style: none;
}

#nav ul li {    
    float:left;
    border-right: 1px solid #fff;
    padding: 6px 10px;
    padding-left: 1em;

    
}

#nav ul li.first{
    padding-left: 10px;
}

#nav ul li a{
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    transition: all 0.5s;
}

#nav ul li:hover{
    background-color:#0054a6;
 
}

#nav ul li:hover a{
    color:#fff;
}

#nav ul li.active{
    background-color:#0054a6;
}
/* end navigation */


/* banner */
.banner{
    height: 200px;
    background-color:#fff;
    border:1px solid #ddd;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat
}

.page-about .banner{
    background-image: url('../img/banner-about.png');
}


/* end of banner */

/* content */
.main{
    background-color: #fff;    
}


header h1{
    margin-bottom: 0pt;
    font-size: 41px;
}

header p.description{
    margin-top: 0pt;
}

.content img{
    float:left;
    margin: 0 4px 1px 0pt;
    padding: 5px;  
    width: 20%; height: 20%;  
}

.projects img{
    float:right;
    background-color: #eee;
    margin: 0 0 1px 5px;
    padding: 5px;    
    box-shadow: 0 2px 2px #bbb
}

.contact-info{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color:#eee;
    padding-bottom: 1em
}

.contact ul{
    list-style: none;
}

.maps .gmaps{
    border: 0pt;
}

/* shadows */

.main{
    box-shadow: 0px 0px 8px #bbb
}

/* text shadows */
h3, article h2{
    border-bottom: 2px solid #333;
    text-shadow: 0px 2px 2px #bbb;
    font-size: 1.4em;
    padding-bottom: 2px;
}

article h3{
    font-size: 1em;
    border-bottom: 0pt;
}

.padl-40{
    padding-left:40px
}

.padl-40 h3{ margin-bottom: 0pt; }

.padl-40 p{ margin-top:4px }

/* google translate tools */
#google_translate_element{
    width: 150px;
    height: 29px;
    float:right;
    overflow:hidden;
    margin-top:42px;
}


/* end content */

/* footer*/

footer{
    font-size: 0.9em;
    color:#999;
}


/* content article*/

article{
    margin: 16px 0pt;
}

img.fl{
    float:left;
    margin-right:5px;
}

/* article table */

table.project-ref{
    background-color: #fff;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px 10px;
    text-align: left;    
    box-shadow: 0px 1px 3px #bbb;
    border:10px solid #fff;
}


thead{
    border-bottom: 2px solid #333;
}

thead th{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;    
}

thead th.cname{ width:32%;}
thead th.details{ width:49%;}

tbody td{
    border-bottom: 1px solid #CCCCCC;
    color: #555;
    padding: 6px 8px;
}

tbody td strong.db{
    font-weight:400;
    color:#444;
}

tbody td em{
    font-style: normal;
    color:#888;
    font-size: 10px;
}


.db{
    display:block;
}


.page-projects .main .col-2 ul{
    font-size: 0.7em;
    padding-left: 16px;
    margin:0pt;
    list-style: circle;
}

table.project-ref tr td + td + td{
    font-size: 10px
}
table.project-ref tr.alt{
    background-color:#e9F4FC;
}    


/* pagination */

.pgnation{
    margin-left: 10px;
    font-size: 12px;
}

.pgnation span{
    color:#888;    
}

.pgnation a{ 
 background-color: #F7F7F7;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd;
    color: #888888;
    margin-right: 5px;
    padding: 3px 5px;
    text-decoration: none;
    outline: 0pt none;
}

.pgnation a:hover{
    background-color:#3EBDFF;
    color:#fff
}

.pagination a:focus{ outline: 0pt none}

/* flags */
.flag-my,
.flag-sg,
.flag-id,
.flag-ph,
.flag-us,
.flag-vn
{ 
    background: transparent none no-repeat 0% 50%;
    padding-left: 20px; }

.flag-my{background-image: url('../img/flags/my.png'); }
.flag-sg{background-image: url('../img/flags/sg.png'); }
.flag-ph{background-image: url('../img/flags/ph.png'); }
.flag-id{background-image: url('../img/flags/id.png'); }
.flag-us{background-image: url('../img/flags/us.png'); }
.flag-vn{background-image: url('../img/flags/vn.png'); }