/**
 * @author nuarharuha <nhnoah@gmail.com>
 * Table styles for organization chart
 */
 
#oc table{
    border-collapse: collapse;
    border:0pt;
    font-size: 12px;
    margin: 0pt auto;
    width:80%;
} 

#oc td{
    border:0pt;
}

#oc td.item:hover{
    background-color:#CAEEF9;
}

#oc td.item .postitle{
    margin-top:0pt;
    font-size: 0.9em;
    color:#777;
}

#oc td h2{
    font-size: 12px;
    border: 0pt;
    margin-bottom: 3px;
}

#oc td.vgap{
    border-bottom: 2px solid #B5D9EA;
}

#oc td.vgap-3{
    width: 50%;
}

#oc table .mline table,
#oc table .mline, 
#oc table .mline td, 
#oc table .mline tr{
    margin:0pt;
    padding:0pt;
}

#oc table .mline table{
    width:100%;
    height:3em;
}


#oc table .mline tr{
    border-bottom: 2px solid #B5D9EA;
}

#oc td.vleft{
    border-right:2px solid #B5D9EA;
    height: 1em;
}

#oc td.vright{
    border-left:2px solid #B5D9EA;
    height: 1em;
}

#oc td.bline{
    border-bottom: 2px solid #B5D9EA;
}


#oc thead{
    border:0pt;
    text-align:left;
}

#oc td.item{
    border: 2px solid #B5D9EA !important;
    background-color:#EDF7FF;
    box-shadow: 2px 3px 4px #dedede;
    width:28%;    
    text-align: center;
    cursor: help;
}

/* sidebar column 2 */
.main .col-2 dl{
    font-size: 0.8em;
    margin-left: 3px;
}

.main .col-2 dd{
    margin-left:10px;
    font-size:  0.7em;
    color:#555;
    margin-bottom: 1em;
}


